.App {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Form {
  width: 100%;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.formColumn {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

label {
  padding: 0.5rem;
}

input, button {
  border: 1px solid #000000;
  border-radius: 5px;
  line-height: 2rem;
  padding: 0 0.6rem;
}

button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 4rem;
  margin: 1rem;
  background: none;
}

button:hover,
.reductIcon,
.deleteIcon {
  cursor: pointer;
}

.Table {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.TableHeader,
.TableContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.TableContent {
  box-sizing: border-box;
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid #000000;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TableRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tableIcon {
  cursor: pointer;
}